body {
    font-family: "Segoe UI", "Vedana";
    padding-bottom: 70px;
}

a {
    color: black;
}

a:hover {
    color: gray;
    text-decoration: none;
}

.navbar-default {
    background-color: !transparent;
    border:0px;
}