<!DOCTYPE html>
<html lang="pt-BR" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="personal blog" />
		<meta name="keywords" content="software, agile, scrum, kanban, dcvs, git, test driven design, tdd, domain driven design, ddd, python, .net, azure, javascript, angularjs, grunt, docker, vagrant" />
		<meta name="author" content="rbraga" />
		<link rel="shortcut icon" href="/assets/images/favicon.ico">

        <link rel="stylesheet" type="text/css" href="/assets/dist/default.min.css" />

        <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />

        <title>rbraga &middot; {{ page.title }}</title>
	</head>
	<body>
        <div class="container text-center">

            <header>
                <h1><a href="/">rodrigo <strong>braga</strong></a></h1>
                <h3><em>tactical code</em></h3>
            </header>

            <hr />

            {{ content }}
        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://github.com/rodrigobraga"><img src="/assets/images/github.png" alt="github" title="GitHub" width="24" height="24"></a></li>
                        <li><a href="http://www.linkedin.com/in/rbraga"><img src="/assets/images/linkedin.png" alt="linkedin" title="Linked In" width="24" height="24"></a></li>
                        <li><a href="https://twitter.com/rodrigobra"><img src="/assets/images/twitter.png" alt="twitter" title="Twitter" width="24" height="24"></a></li>
                        <li><a href="https://www.facebook.com/rbraga1"><img src="/assets/images/facebook.png" alt="facebook" title="Facebook" width="24" height="24"></a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <script type="text/javascript" src="/assets/dist/default.min.js"></script>

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-317511-20']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

		</script>
	</body>
</html>
